@import '../../main-styles/vars.scss';
@import '../../main-styles/mixins.scss';

.about {
   margin: 40px auto;
   text-align: center;

    @media (min-width: $media-tab-md) {
        margin: 80px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 725px;
    }

    &__img{
        max-height: 348px;
        width: 100%;
        max-width: 272px;
    }


   &__block{
       max-width: 90%;
       text-align: center;
       margin: 30px auto;

       @media (min-width: $media-tab-md) {
            max-width: 346px;
            margin: 0 auto;
       }
   }

   &__title{
    @include flexible-font-size(20, 24);
    line-height: 120%;
    margin-bottom: 0;

   }

   &__text{
    @include flexible-font-size(12, 14);
    max-width: 589px;
    margin: 0 auto 20px;
   }

   .ps{
       hr{
        color: $black;
       }
   }
}

.home-page{
    .about{
        &__img{
            display: none;
        }

        &__block{
     
            @media (min-width: $media-tab-md) {
              max-width: 580px;
            }
        }
    }
}