@import "../../main-styles/vars.scss";

@import '../../main-styles/vars.scss';
@import '../../main-styles/mixins.scss';

.our-coffee__cards{
    padding: 0;
    .card{
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
        width: 240px;
        padding: 40px 23px 22px 23px;
        margin: 30px 0;

        &-img-top{
            max-height: 115px;
        }

        &-body{
            padding: 0;
        }

        &-title{
            @include flexible-font-size(12, 14);
            margin-top: 14px;
        }

        &-text{
            @include flexible-font-size(12, 14);
            margin: 14px 0;
            text-align: right;

            &:last-child{
                margin-bottom: 0;
            }
        }
      }
}