@import '../../main-styles/vars.scss';
@import '../../main-styles/mixins.scss';

.best {
   padding: 40px 0;
   background: url(../../img/best-bg.png) no-repeat;
   background-size: cover;

   @media (min-width: $media-tab-md) {
    padding: 80px 0 100px;
   }


   &__title{
    @include flexible-font-size(20, 24);
    line-height: 120%;
   }
}