@import '../../main-styles/vars.scss';
@import '../../main-styles/mixins.scss';
@import "~bootstrap/scss/bootstrap";


.footer{
    &.navbar-expand {
        padding: 15px;
        color: $black;
        position: relative;
    
        @media (min-width: $media-tab-lg) {
            padding: 30px 20px;
        }
    }

    .navbar-brand, .nav-link{
        color: $black;
        text-shadow: none;
        @include flexible-font-size(10, 12);
        padding: 0;
        cursor: pointer;

        &:hover, &:focus {
            color: $black;
        }
    }

    hr{
        color: $black;
    }

    .ps{
        margin-bottom: 0;
    }

}

